{% extends "base.html" %}

{% block title %}コレクション一覧（ホーム）{% endblock %}

{% block content %}
<div class="content col-10">
    <div class="d-flex justify-content-between align-items-center header-content mt-3 mb-4">
        <div class="search-form d-flex align-items-center">
            <div class="name-search-box">
                <form method="get">
                    <div class="d-flex">
                        <input type="text" name="query" placeholder="コレクション名から検索" value="{{ request.GET.query }}"  />
                        <button class="search-button" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="filter-search-box">
                <button class="filter-button" data-bs-toggle="modal" data-bs-target="#filterModal">
                    <i class="fas fa-filter"></i>
                    絞り込み
                </button>
            </div>
            <div class="dropdown">
                <form method="get">
                    <button class="btn filter-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-sort-down"></i>並び替え順
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" name="order" value="name_order" type="submit">名前順</button></li>
                        <li><button class="dropdown-item" name="order" value="register_order_des" type="submit">登録順</button></li>
                        <li><button class="dropdown-item" name="order" value="register_order_asc" type="submit">古い順</button></li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="message">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="row">
                <div class="col-12">
                    <h4>コレクション一覧</h4>
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="row">
                {% for mycollection in page_obj %}
                    <div class="col-3 mb-3">
                        <div class="card">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#myCollectionModal{{ mycollection.id }}">
                                <div class="collection-image">
                                    <img src="{{ mycollection.image_path.url }}" alt="画像は未登録です。">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ mycollection.name }}</h5>
                                    {% if not mycollection.collection_category %}
                                        <p>カテゴリ：分類なし</p>
                                    {% else %}
                                        <p>カテゴリ：{{ mycollection.collection_category.name }}</p>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- コレクション詳細のモーダルウィンドウ -->
                    <div class="modal fade" id="myCollectionModal{{ mycollection.id }}" tabindex="-1" aria-labelledby="filterModalLabel{{ mycollection.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="filterModalLabel{{ mycollection.id }}">コレクション詳細</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="filter-form">
                                        <div class="modal-collection-image">
                                            <img src="{{ mycollection.image_path.url }}" alt="画像は未登録です。">
                                        </div>
                                        <div class="card-body modal-detail-content">
                                            <h5 class="card-title">{{ mycollection.name }}</h5>
                                            <table class="table table-bordered modal-detail-table">
                                                {% if mycollection.description|default_if_none:"" %}
                                                <tr>
                                                    <th class="text-start w-25">説明</th>
                                                    <td class="long-text">{{ mycollection.description }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if mycollection.get_date|default_if_none:"" %}
                                                <tr>
                                                    <th class="text-start w-25">入手日</th>
                                                    <td>{{ mycollection.get_date }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if mycollection.price|default_if_none:"" %}
                                                <tr>
                                                    <th class="text-start w-25">価格</th>
                                                    <td>{{ mycollection.price }}円</td>
                                                </tr>
                                                {% endif %}
                                                {% if mycollection.collection_category|default_if_none:"" %}
                                                <tr>
                                                    <th class="text-start w-25">カテゴリ</th>
                                                    <td>{{ mycollection.collection_category.name }}</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <th class="text-start w-25">カテゴリ</th>
                                                    <td>分類なし</td>
                                                </tr>
                                                {% endif %}
                                                {% if mycollection.memo|default_if_none:"" %}
                                                <tr>
                                                    <th class="text-start w-25">メモ</th>
                                                    <td class="long-text">{{ mycollection.memo }}</td>
                                                </tr>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                                    <a href="{% url 'mycollection:collection_edit' mycollection.pk %}" class="btn search-button">編集</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>登録されたコレクションはありません。</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="pagination-container">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}
                            {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}
                            {% if request.GET.collection_category %}&collection_category={{ request.GET.collection_category }}{% endif %}
                            {% if request.GET.get_date %}&get_date={{ request.GET.get_date }}{% endif %}
                            {% if request.GET.price_min %}&price_min={{ request.GET.price_min }}{% endif %}
                            {% if request.GET.price_max %}&price_max={{ request.GET.price_max }}{% endif %}
                            {% if request.GET.order %}&order={{ request.GET.order }}{% endif %}
                            {% if not page_obj.has_previous %}aria-disabled='true'{% endif %}">Previous</a>
                        </li>
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}
                                {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}
                                {% if request.GET.collection_category %}&collection_category={{ request.GET.collection_category }}{% endif %}
                                {% if request.GET.get_date %}&get_date={{ request.GET.get_date }}{% endif %}
                                {% if request.GET.price_min %}&price_min={{ request.GET.price_min }}{% endif %}
                                {% if request.GET.price_max %}&price_max={{ request.GET.price_max }}{% endif %}
                                {% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">{{ num }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}
                            {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}
                            {% if request.GET.collection_category %}&collection_category={{ request.GET.collection_category }}{% endif %}
                            {% if request.GET.get_date %}&get_date={{ request.GET.get_date }}{% endif %}
                            {% if request.GET.price_min %}&price_min={{ request.GET.price_min }}{% endif %}
                            {% if request.GET.price_max %}&price_max={{ request.GET.price_max }}{% endif %}
                            {% if request.GET.order %}&order={{ request.GET.order }}{% endif %}
                            {% if not page_obj.has_next %}aria-disabled='true'{% endif %}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- 絞り込みモーダルウィンドウ -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">絞り込み検索</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
            </div>
            <form method="GET">
                <div class="modal-body">
                    <div class="filter-form">
                            <table class="table">
                                <tbody>
                                    <th><label for="{{ form.collection_category.id_for_label }}">カテゴリ</label></th>
                                    <td>{{ form.collection_category }}</td>
                                    <tr>
                                        <th><label for="get_date">入手日</label></th>
                                        <td><input type="date" id="get_date" name="get_date" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <th><label for="price">価格</label></th>
                                        <td>
                                            <input type="number" id="price_min" name="price_min" class="form-control mb-2" placeholder="最小価格" min="0">
                                            <input type="number" id="price_max" name="price_max" class="form-control" placeholder="最大価格" min="1">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn search-button">検索</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mobile-content">
    <div class="row">
        <div class="col-12">
            {% if messages %}
                <div class="mobile-messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% for mycollection in page_obj %}
            <div class="col-6 mb-2">
                <div class="card">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#myCollectionMobileModal{{ mycollection.id }}">
                        <div class="collection-image">
                            <img src="{{ mycollection.image_path.url }}" alt="画像は未登録です。">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ mycollection.name }}</h5>
                            {% if not mycollection.collection_category %}
                                <p>カテゴリ：分類なし</p>
                            {% else %}
                                <p>カテゴリ：{{ mycollection.collection_category.name }}</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
                <!-- コレクション詳細のモーダルウィンドウ -->
                <div class="modal fade" id="myCollectionMobileModal{{ mycollection.id }}" tabindex="-1" aria-labelledby="filterMobileModalLabel{{ mycollection.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="filterMobileModalLabel{{ mycollection.id }}">コレクション詳細</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                            </div>
                            <div class="modal-body">
                                <div class="filter-form">
                                    <div class="modal-collection-image">
                                        <img src="{{ mycollection.image_path.url }}" alt="画像は未登録です。">
                                    </div>
                                    <div class="card-body modal-detail-content">
                                        <h5 class="card-title">{{ mycollection.name }}</h5>
                                        <table class="table table-bordered modal-detail-table">
                                            {% if mycollection.description|default_if_none:"" %}
                                            <tr>
                                                <th class="text-start w-25">説明</th>
                                                <td class="long-text">{{ mycollection.description }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if mycollection.get_date|default_if_none:"" %}
                                            <tr>
                                                <th class="text-start w-25">入手日</th>
                                                <td>{{ mycollection.get_date }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if mycollection.price|default_if_none:"" %}
                                            <tr>
                                                <th class="text-start w-25">価格</th>
                                                <td>{{ mycollection.price }}円</td>
                                            </tr>
                                            {% endif %}
                                            {% if mycollection.collection_category|default_if_none:"" %}
                                            <tr>
                                                <th class="text-start w-25">カテゴリ</th>
                                                <td>{{ mycollection.collection_category.name }}</td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                <th class="text-start w-25">カテゴリ</th>
                                                <td>分類なし</td>
                                            </tr>
                                            {% endif %}
                                            {% if mycollection.memo|default_if_none:"" %}
                                            <tr>
                                                <th class="text-start w-25">メモ</th>
                                                <td class="long-text">{{ mycollection.memo }}</td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                                <a href="{% url 'mycollection:collection_edit' mycollection.pk %}" class="btn search-button">編集</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>登録されたコレクションはありません。</p>
        {% endfor %}
        <div class="col-12 col-md-9">
            <div class="pagination-container">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}
                            {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}
                            {% if request.GET.collection_category %}&collection_category={{ request.GET.collection_category }}{% endif %}
                            {% if request.GET.get_date %}&get_date={{ request.GET.get_date }}{% endif %}
                            {% if request.GET.price_min %}&price_min={{ request.GET.price_min }}{% endif %}
                            {% if request.GET.price_max %}&price_max={{ request.GET.price_max }}{% endif %}
                            {% if request.GET.order %}&order={{ request.GET.order }}{% endif %}
                            {% if not page_obj.has_previous %}aria-disabled='true'{% endif %}">Previous</a>
                        </li>
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}
                                {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}
                                {% if request.GET.collection_category %}&collection_category={{ request.GET.collection_category }}{% endif %}
                                {% if request.GET.get_date %}&get_date={{ request.GET.get_date }}{% endif %}
                                {% if request.GET.price_min %}&price_min={{ request.GET.price_min }}{% endif %}
                                {% if request.GET.price_max %}&price_max={{ request.GET.price_max }}{% endif %}
                                {% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">{{ num }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}
                            {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}
                            {% if request.GET.collection_category %}&collection_category={{ request.GET.collection_category }}{% endif %}
                            {% if request.GET.get_date %}&get_date={{ request.GET.get_date }}{% endif %}
                            {% if request.GET.price_min %}&price_min={{ request.GET.price_min }}{% endif %}
                            {% if request.GET.price_max %}&price_max={{ request.GET.price_max }}{% endif %}
                            {% if request.GET.order %}&order={{ request.GET.order }}{% endif %}
                            {% if not page_obj.has_next %}aria-disabled='true'{% endif %}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="search-bar-bottom">
    <div class="filter-search-box">
        <button class="search-bar-button" id="search-bar-button" type="button">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>
<div class="search-from-field">
    <div class="d-flex justify-content-between align-items-center">
        <div class="name-search">
            <form method="get">
                <div class="name-search-box d-flex">
                    <input type="text" name="query" placeholder="コレクション名から検索" value="{{ request.GET.query }}"  />
                    <button class="search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="filter-search d-flex align-items-center">
            <div class="filter-search-box">
                <button class="btn btn-sm filter-button" data-bs-toggle="modal" data-bs-target="#filterModal">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
            <div class="sort-search-box">
                <form method="get">
                    <div class="dropdown">
                        <button class="btn filter-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-sort-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" name="order" value="name_order" type="submit">名前順</button></li>
                            <li><button class="dropdown-item" name="order" value="register_order_des" type="submit">登録順</button></li>
                            <li><button class="dropdown-item" name="order" value="register_order_asc" type="submit">古い順</button></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .header-content {
        width: 80%;
    }
    .alert {
        margin: 0;
        padding: 10px;
    }
    .content {
        margin-left: 240px;
        padding: 20px;
        width: 100%;
    }
    .name-search-box input {
        width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        color: #333;
    }
    .search-button {
        padding: 10px 20px;
        margin: 0 20px 0 10px;
        border: none;
        background-color: #343a40;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    .filter-button {
        padding: 10px 20px;
        margin-left: 10px;
        border: none;
        background-color: #343a40;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    .filter-form input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        color: #333;
    }
    h4 {
        font-weight: bold;
    }
    table th, table td {
        vertical-align: middle;
    }
    .card {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding:16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card a {
        color: black;
        text-decoration: none;
    }
    .collection-image {
        width: 100%;
        height: 100%;
    }
    .collection-image img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    .modal-detail-table td {
        padding: 7px 0 7px 10px;
    }
    .modal-detail-table th {
        background-color: #343a40;
        color: white;
    }
    .card-body {
        padding: 4px 0 0 0;
    }
    .card-body h5 {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 18ch;
        overflow: hidden;
    }
    .card-body p {
        margin-bottom: 0;
    }
    .card-title {
        margin-bottom: 0;
    }
    .modal-collection-image {
        margin: 20px;
    }
    .modal-collection-image img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
    .modal-detail-content {
        margin: 20px;
    }
    .modal-detail-content h5 {
        white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 40ch;
            overflow: hidden;
            margin-bottom: 10px;
            font-weight: bold;
    }
    .long-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 4.5em;
        line-height: 1.3em;
    }
    .pagination-container {
        position: absolute;
        bottom: 30px;
        right: 40px;
    }
    .mobile-content {
        display: none;
    }
    .search-bar-bottom {
        display: none;
    }
    .search-from-field {
        display: none;
    }

    @media (max-width: 768px) {
        .alert {
            margin-bottom: 10px;
        }
        .content {
            display: none;
        }
        .mobile-content {
            display: block;
            margin-top: 56px;
            padding: 20px 25px 50px 25px;
            width: 100%;
        }
        .card-body h5 {
            font-size: 1em;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 16ch;
            overflow: hidden;
        }
        .card-body p {
            font-size: 0.75em;
        }
        .pagination-container {
            position: static;
            margin: 20px;
            display: flex;
            justify-content: center;
        }
        .search-bar-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 500;
            padding: 15px 20px;
            display: block;
        }
        .search-bar-button {
            border-radius: 50%;
            padding: 15px 20px;
            background-color: #343a40;
            color: white;
            border: none;
        }
        .search-from-field {
            position: fixed;
            margin-top: 56px;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 500;
            padding: 10px;
        }
        .name-search {
            width: 70%;
        }
        .search-from-field button {
            padding: 5px 10px;
        }
        .name-search-box input {
            width: 200px;
            padding: 10px;
            font-size: 12px;
            border: 2px solid #ccc;
        }
        .filter-search {
            width: 30%;
        }
        .filter-button {
            padding: 10px 10px !important;
        }
        .search-button {
            padding: 10px 15px !important;
            margin: 0 10px;
        }
        .modal {
            margin-top: 80px;
            padding: 0 20px;
            max-height: 530px;
        }
        .modal-detail-table th, td {
            font-size: 10px;
        }
        .modal-detail-content h5 {
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 40ch;
            overflow: hidden;
            margin-bottom: 10px;
            font-weight: bold;
        }
        .table th, td {
            font-size: 10px;
        }
    }
</style>

<script type="text/javascript">
    setTimeout(function() {
        let messages = document.querySelector('.messages');
        if (messages) {
        messages.style.display = 'none';
        }
    }, 5000);

    setTimeout(function() {
        let mobile_messages = document.querySelector('.mobile-messages');
        if (mobile_messages) {
            mobile_messages.style.display = 'none';
        }
    }, 5000);

    // スマホサイズの検索バー表示
    document.addEventListener("DOMContentLoaded", function () {
        const searchButton = document.getElementById("search-bar-button");
        console.log(searchButton);
        const searchFromField = document.querySelector(".search-from-field");

        searchButton.addEventListener("click", function () {
            if (searchFromField.style.display == "none") {
                searchFromField.style.display = "block";
            } else {
                searchFromField.style.display = "none";
            }
        });
    });
</script>
{% endblock %}